@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --fondo_index: #ffffff;
    --color_texto_index: #ffff;
    --color_texto_slider: #ffffff;
    --hover_texto: #c79415;
    --hover_claro: #f0c14b;
    --header-text-color: #fff;
    --color_texto: #333;
    --fondo_oscuro: #000000;
    --fuente_principal: 'Montserrat', sans-serif;
  }

.hero {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-image-bg {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.hero-image-bg img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center; /* <-- Centra la imagen en todos los tamaños */
    filter: brightness(0.5);
    display: block;
}

.hero-content {
    position: relative;
    z-index: 2;
    color:var(--color_texto_index);
    text-align: center;
    width: 100%;
}
.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.8rem;
    font-style: bold;
    margin: 4rem;
}

@media (max-width:734px){
    .hero,
    .hero-image-bg,
    .hero-image-bg img {
        height: 100%;
        min-height: 320px;
        max-height: 100vh;
    }
    .hero-content h1 {
        padding-top: 2rem;
    }
}

@media (max-width: 600px) {
    .hero,
    .hero-image-bg,
    .hero-image-bg img {
        height: 60vh;
        min-height: 320px;
        max-height: 100vh;
    }
    .hero-content {
        padding: 2rem 1rem;
    }
    .hero-content h1 {
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 1.2rem;
        margin: 2rem 0;
    }
}

@media(max-width: 300px) {
    .hero-content h1 {
        padding-top: 3rem;
        font-size: 2rem;
    }
    .hero-content p {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .hero,
    .hero-image-bg,
    .hero-image-bg img {
        height: 90vh;
        min-height: 320px;
        max-height: 100vh;
    }
}